version: '3.6'
services:
  gitlab:
    container_name: gitlab
    image: gitlab/gitlab-ee:{{ gitlab_version if gitlab_version else 'latest' }}
    restart: always
    hostname: {{ gitlab_hostname }}
    ports:
      - "{{ gitlab_http_port }}:80"
      - "{{ gitlab_https_port }}:443"
      - "{{ gitlab_ssh_port }}:22"
    volumes:
      - {{ gitlab_home }}/config:/etc/gitlab
      - {{ gitlab_home }}/logs:/var/log/gitlab
      - {{ gitlab_home }}/data:/var/opt/gitlab
      - {{ gitlab_backup_path }}:{{ gitlab_backup_path }}
    shm_size: '256m'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ gitlab_external_url }}';
        gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_ssh_port }};
        gitlab_rails['smtp_enable'] = false;
        {% if gitlab_backup_enabled %}
        gitlab_rails['backup_path'] = '{{ gitlab_backup_path }}';
        gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }};
        {% endif %}